* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}


h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
    font-size: 50px;
}

button {
    margin-top: 30px;
    align-items: center;
    padding: 20px;
    border-radius: 25px;
    color: green;
    background-color: rgba(49, 222, 234, 0.363);
}

p{
    font-size: 25px;
    margin-top: 10px;
}